<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <mate http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>Login</title>
    <!--<link rel="icon" th:href=""/>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="text-center">

    <form class="form-signin" method="post" action="/techno/checkIn">
        <!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="logo" width="72" height="72"/>-->
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required"/>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"/> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>

</body>
<script type="text/javascript">
    $('.form-signin').on('submit',function(){

        /*if($('input[name=username]').val() != ''){
            return true;
        } else{
            return false;
        }*/
    });

</script>
</html>